@font-face {
  font-family: Avenir;
  font-weight: 300;
  src: url(../fonts/Avenir-Book.ttf);
}

@font-face {
  font-family: Avenir;
  font-weight: 900;
  src: url(../fonts/Avenir-Heavy.ttf);
}

.body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;

  box-sizing: border-box;
  margin: 0;
  padding: 20px 48px;
}
